# --- Raw logs (skip these) ---
*.bin
*.tlog
bin/vault/df_source/

# --- Keep processed vaults and warehouse masters tracked ---
# vault shards & warehouse Parquet files will be tracked
!bin/vault/vault_a/
!bin/vault/vault_b/
!bin/vault/vault_c/
!bin/vault/warehouse_df/

# --- Temporary / reports ---
bin/vault/reports/*.parquet

# --- Logs and baselines ---
*.txt
*.log

# --- Python environment ---
__pycache__/
venv*/
.vscode/

# --- Docs temp files ---
docs/Temp-Learning/
